// Primary Colors
$color-blue-base: rgba(8, 64, 161, 1);
$color-blue-base-lighten-80: rgba(8, 64, 161, .2);
$color-blue-base-lighten-40: rgba(8, 64, 161, .6);
$color-blue-base-lighten-25: rgba(8, 64, 161, .75);
$color-blue-base-darken-20: rgba(6, 51, 128, 1);

// Blue Purple
$color-blue-purple-base: rgba(45, 40, 148, 1);
$color-blue-purple-base-lighten-80: rgba(45, 40, 148, .2);
$color-blue-purple-base-lighten-40: rgba(45, 40, 148, .6);
$color-blue-purple-base-lighten-25: rgba(45, 40, 148, .75);
$color-blue-purple-base-darken-20: rgba(85, 28, 94, 1);

// Purple
$color-purple-base: rgba(107, 36, 118, 1);
$color-purple-base-lighten-80:rgba(107, 36, 118, .2);
$color-purple-base-lighten-40:rgba(107, 36, 118, .6);
$color-purple-base-lighten-25:rgba(107, 36, 118, .75);
$color-purple-base-darken-20:rgba(107, 36, 118, 1);

// Red Purple
$color-red-purple-base: rgba(152, 28, 103, 1);
$color-red-purple-base-lighten-80: rgba(152, 28, 103, .2);
$color-red-purple-base-lighten-40: rgba(152, 28, 103, .6);
$color-red-purple-base-lighten-25: rgba(152, 28, 103, .75);
$color-red-purple-base-darken-20: rgba(121, 22, 82, 1);

// Red
$color-red-base: rgba(224, 11, 50, 1);
$color-red-base-lighten-80: rgba(224, 11, 50, .2);
$color-red-base-lighten-40: rgba(224, 11, 50, .6);
$color-red-base-lighten-25: rgba(224, 11, 50, .75);
$color-red-base-darken-20: rgba(179, 8, 40, 1);

// Blue Blue Green
$color-blue-blue-green-base: rgba(0, 107, 166, 1);
$color-blue-blue-green-base-lighten-80: rgba(0, 107, 166, .2);
$color-blue-blue-green-base-lighten-40: rgba(0, 107, 166, .6);
$color-blue-blue-green-base-lighten-25: rgba(0, 107, 166, .75);
$color-blue-blue-green-base-darken-20: rgba(0, 85, 132, 1);

// Blue Green
$color-blue-green-base: rgba(0, 98, 114, 1);
$color-blue-green-base-lighten-80: rgba(0, 98, 114, .2);
$color-blue-green-base-lighten-40: rgba(0, 98, 114, .6);
$color-blue-green-base-lighten-25: rgba(0, 98, 114, .75);
$color-blue-green-base-darken-20: rgba(0,78,91, 1);

// Teal
$color-teal-base: rgba(0, 120, 102, 1);
$color-teal-base-lighten-80: rgba(0, 120, 102, .2);
$color-teal-base-lighten-40: rgba(0, 120, 102, .6);
$color-teal-base-lighten-25: rgba(0, 120, 102, .75);
$color-teal-base-darken-20: rgba(0, 96, 81, 1);

// Green
$color-green-base: rgba(0, 122, 51, 1);
$color-green-base-lighten-80: rgba(0, 122, 51, .2);
$color-green-base-lighten-40: rgba(0, 122, 51, .6);
$color-green-base-lighten-25: rgba(0, 122, 51, .75);
$color-green-base-darken-20: rgba(0, 97, 40, 1);

// Shades
$color-black-alpha-87: rgba(0, 0, 0, .87);
$color-black-alpha-60: rgba(0, 0, 0, .6);
$color-black-alpha-28: rgba(0, 0, 0, .28);
$color-black-alpha-18: rgba(0, 0, 0, .18);
$color-black-alpha-04: rgba(0, 0, 0, .04);

// Highlights
$color-white: rgba(255, 255, 255, 1);
$color-white-alpha-80: rgba(255, 255, 255, .8);
$color-white-alpha-40: rgba(255, 255, 255, .4);
$color-white-alpha-25: rgba(255, 255, 255, .25);
