// Header, footer, navigation, section 
section.hosting-component {
  padding: 50px 0;
  .col-md-6:last-of-type {
    background-color: $color-black-alpha-04;
  }
  .left, .right {
    max-width: 500px;
  }
  .left {
    float: right;
    display: flex;
    align-items: flex-end;
    height: 100%;
    img {
      margin-bottom: 14px;
      margin-right: 80px;
    }
    .grey-extension{
      display: block;
      width: 140px;
      background-color: $color-black-alpha-04;
      height: 100%;
      position: absolute;
      z-index: -1;
      right:0;
    }
  }
  .right {
    padding: 80px 0 60px 60px;
  }
  h1 {
    font-size: 36px;
    color: $color-black-alpha-87;
    font-weight: 300;
  }
  h2 {
    font-size: 18px;
    color: $color-black-alpha-87;
    margin-bottom: 40px;
    &:after {
      background: none repeat scroll 0 0 $color-blue-purple-base;
      bottom: -15px;
      content: "";
      display: block;
      height: 1px;
      position: relative;
      width: 80px;
    }
  }
  p {
    color: $color-black-alpha-60;
    margin-bottom: 20px;
  }
  .btn-blue {
    background-color: $color-blue-base;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 14px 30px; 
  }
  @media only screen and (max-width: 768px) {
    background: $color-black-alpha-04;
    .col-md-6:last-of-type {
      background: none;
    }
    .left {
      display: flex;
      min-width: 100%;
      justify-content: center;
      align-content: center;
      .grey-extension {
        display: none;
      }
      img {
        width: 100%;
        max-width: 400px;
        margin: 0;
      }
    }
    .right {
      max-width: 100%;
      padding: 60px 90px 0 90px;
    }
  }
  @media only screen and (max-width: 480px) {
    .left {
      img {
        padding: 0 15px;
      }
    }
    .right {
      padding: 40px 15px 0;
    }
  }
}