// Header, footer, navigation, section 
section.small-business-forum-component {
  padding: 50px 0;
  .col-md-4 {
    border-right: 1px solid $color-black-alpha-18;
    &:last-of-type {
      border-right: none;
    }
  }
  .left {
    padding-right: 15px;
  }
  .middle {
    padding: 0 15px;
  }
  .right {
    padding-left: 15px;
  }
  img {
    width: 100%;
    margin-bottom: 20px;
    max-height: 212px;
  }
  p {
    color: $color-black-alpha-60;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 80px;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 36px;
    &:after {
      background: none repeat scroll 0 0 $color-blue-purple-base;
      bottom: -18px;
      content: "";
      display: block;
      height: 1px;
      position: relative;
      width: 80px;
    }
  }
  h4 {
    font-size: 12px;
    color: $color-black-alpha-60;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 28px;
  }
  .btn-blue {
    background-color: $color-blue-base;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px; 
  }
  @media only screen and (max-width: 768px) {
    .col-md-4 {
      border-right: none;
    }
    .left {
      padding-right: 0;
    }
    .middle {
      padding: 0 0;
    }
    .right {
      padding-left: 0;
    }
    .left, .middle, .right {
      display: inline-flex;
      div {
        display: flex;
        flex-direction: column;
      }
    }
    img {
      height: 100%;
      max-width: 260px;
      margin: 0 40px 60px 0;
    }
    h1 {
      margin-bottom: 60px;
    }
    h3 {
      margin-bottom: 12px;
      &:after {
        background: none;
      }
    }
    h4 {
      margin-bottom: 16px;
    }
    p {
      display: none;
    }
  }
  @media only screen and (max-width: 480px) {
    .left, .middle, .right {
      flex-direction: column;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      margin: 40px 0 20px 0;
    }
    h1 {
      margin-bottom: 0;
    }
  }
}